$jv : #ffc600;
$rv : #ff0000;
$bf : #051440;
$bg :  #e5e5e5 ;
$xd :  #707070 ;
$xdgrey :  #70707041 ;
$rs :  #75161e ;
$rp :  #8b0000 ;
$nnac :  #181818 ;
$vg :  #6b6c66 ;
$tdf :  #81613c ;
$vo :  #5e6456 ;
$coyotte :  #9f8670 ;
$bfw :  #091226 ;
$rf :  #ec1920 ;
$gw :  #f7f7ff ;
$gs :  #0a0b0a ;
$rpv :  #b22222 ;
$ng :  #3e5349 ;
$ba : #81a1b8 ;
$nc : #2f2f31;
$vdg : #95a595 ;
$ghost-white:#F7F7FF;
$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;
$gold: #b7ac7f;
$orange: #fcb852;
$grey: #dedede;
$bh:#7F8FA6;